plugin_dir = "./plugins"
listen = "tcp@127.0.0.1:8080,unix@/tmp/dpbc.sock" # network@address, comma-separated

[log]
level = "info" # debug | info | warn | error
format = "json" # console | json

[log.output]
stdout = true
stderr = false
file = ""

[log.rotation]
enabled = false
max_size = 100 # MB unit
max_age = 7 # day
compress = true # gzip compression

[providers.nowpayments]
mode = "sandbox" # production | sandbox
api_key = "NOWPAYMENTS-API-KEY"
ipn_secret = "NOWPAYMENTS-IPN-SECRET"
http_timeout = "20s"

[providers.bitpay]
mode = "sandbox" # production | sandbox
api_token = "BITPAY-API-TOKEN" # merchant facade type
api_private_key = "BITPAY-PRIVATE-KEY" # merchant facade type (hex)
http_timeout = "20s"

[providers.coingate]
mode = "sandbox" # production | sandbox
api_token = "COINGATE-API-TOKEN"
callback_secret = "COINGATE-CALLBACK-SECRET" # You need to define the secret.
http_timeout = "20s"

[providers.coinpayments]
api_type = "a-api" # "a-api" | "b-api"
client_id = "COINPAYMENTS-CLIENT-ID"
client_secret = "COINPAYMENTS-CLIENT-SECRET"
http_timeout = "20s"
